<video id="video" autoplay="autoplay" loop>
  <source src="/videos/30sec.webm" type="video/webm">
</video>

<div id='default-index-bg'>
</div>

<div class="large-3 large-centered columns medium-5 medium-centered columns small-8 small-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-12 columns">
        <center>
        <div id="logo" class="log-in">
          <p>
          <i class="fi-puzzle"></i>
          <i class="fi-mountains"></i></p>
          <p>
          <i class="fi-anchor"></i>
          <i class="fi-book"></i></p>
        </div></center>
        <h3> Hobbyist </h3>



        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {'data-abide' => ''}) do |f| %>

        <form>
          <div class="row">
            <div class="large-12 columns">
              <div class="fb-login">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.text_field :username, placeholder: :username, required: true %>
              <small class="error">Username is required.</small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.email_field :email, placeholder: :email, required: true %>
              <small class="error">An email address is required.</small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.password_field :password, autocomplete: "off", placeholder: :"minimum of 8 characters", required: true %>
              <small class="error">Password is required.</small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", required: true %>
              <small class="error">Password must match.</small>
            </div>
          </div>

          <div class="field input-wrapper">
            <label> Profile Picture <small>optional</small>
              <%= f.file_field :image_url %>
            </label>
          </div>

          <div class="row">
            <div class="large-12 large-centered columns">
              <%= f.submit "Sign up", class: "button expand" %>
            </div>
          </div>

          <div class="row">
            <div class="large-12 large-centered columns">
              <h6>Already Have An Account?
                <% if controller_name != 'sessions' %>
                <%= link_to "Log in", new_session_path(resource_name) %><br />
                <% end -%>
              </h6>
            </div>
          </div>
        </form>

        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- <div class="large-centered columns medium-centered columns small-centered columns"> -->
<div class="about">
  <div class="column">
    <!-- <div class="three columns centered">2 columns</div> -->
    <div class="small-12 large-centered columns">
      <!-- <div class="small-3 large-centered columns"> -->
      <div class="large-3 columns">3, last
        Never again give up on a hobby for lack of support
      </div>

<!--       <div class="small-3 large-centered columns">
        Get accurate answers from similar minds
      </div>

      <div class="small-3 large-centered columns">
        <i class="fi-torsos-all">meet others with the same hobby<i>

      </div> -->

    </div>
  </div>
</div>
<!-- </div> -->
