<h1><%= @user.username %></h1>

<img src="<%= @user.image_url %>">
<h2>Following:</h2>
<% @categories.each do |category| %>
  <div id="category-name">
    <h3><%=category.name%></h3>
  </div>
  <div class="slider">
  <% @user.hobbies.each do |hobby| %>
    <% if hobby.category.name == category.name %>
      <div class="small-2 medium-2">
        <a href="/hobbies/<%=hobby.id%>">
          <img src="<%=hobby.image_url%>"/>
        </a>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>






<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
