<button class="backButton button secondary" onclick="goBack()">Go Back</button>
<div class='usernameDiv'>
  <h1><%= @user.username %></h1>
</div>
<hr class='row'>
<br>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="medium-4 small-12 columns">
        <div class='profile-image-div'>
          <img class='prof-image th' src="<%= @user.image_url %>">
        </div>
          <% if user_signed_in? && @user == current_user %>
          <div class="panel">
              <% if !(current_user.provider) %>
                <div class='edit-div'><%= link_to('Edit Your Profile', edit_user_path) %></div>
              <% end %>
          </div>
          <% else %>
          <div class="invisible panel"></div>
          <% end %>
          <div class="panel radius">
            <h6>
              <% if current_user == @user %>
                You have
              <% else %>
                <%= @user.username.split(' ').each {|x| x.capitalize }.join(' ') %> has
              <% end %>
              <%= ' 0 hobbies' if @user.hobbies.size < 1 %>
              <%= ' 1 hobby' if @user.hobbies.size == 1 %>
              <%= "#{@user.hobbies.size} hobbies" if @user.hobbies.size > 1 %>
            </h6><hr>
            <ul class="user-hobby-list">
              <% @user.hobbies.sort_by{ |h| h.name }.each do |hobby| %>
              <div class="hobby-list-insideDiv">
                <a href="/hobbies/<%=hobby.id%>">
                  <li><%= hobby.name %></li><p></p>
                </a>
              </div>
              <% end %>
            </ul>
          </div>
      </div>

      <div class="medium-8 columns arrow">
        <% @categories.each do |category| %>
        <div class="row">
        <div class="category-name">
          <% if category != @categories.first %>
          <br>
          <% end %>
          <h3><%=category.name%></h3>
        </div>
        <div class="slider">
          <% @user.hobbies.each do |hobby| %>
            <% if hobby.category.name == category.name %>
            <!-- <div class="small-2 medium-2"> -->
              <a href="/hobbies/<%=hobby.id%>">
                <img class="profile-hobbies" src="<%=hobby.image_url%>"/>
              </a>
            <!-- </div> -->
            <% end %>
          <% end %>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>