<%= form_for @hobby do |f| %>

<% if @hobby.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@hobby.errors.count, "error") %> prohibited this article from being saved:</h4>

    <ul>
    <% @hobby.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :description %>
  <%= f.text_area :description %><br />

  <%= f.collection_select :category_id, @categories, :id, :name, { include_blank: false, :selected => @category.id} %>

  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image_url %>
  </div>

  <%= f.submit %>
<% end %>


