<h3><%= @hobby.name %></h3>
<p><%= @hobby.description %></p>
<img src="<%= @hobby.image_url %>">
<% @meetups.each do |meetup| %>
  <p>
    <a href="<%= meetup['event_url'] %>"><%= meetup['name'] %></a>
    hosted by: <%= meetup['group']['name'] %>
  </p>
<% end %>
