<div id="hobby_header">
  <h3 id="hobby_title"><%= @hobby.name %></h3>
  <p><%= @hobby.description %></p>
  <img src="<%= @hobby.image_url %>">
  <% if current_user.id == @hobby.creator_id %>
    <%= form_for @hobby do |f| %>
      <div class="field">
        <%= f.label 'Update Hobby Image' %><br/>
        <%= f.file_field :image_url %>
        <%= f.submit 'Update' %>
      </div>
    <% end %>
  <% end %>

  <button class="follow" href="/hobbies/<%= @hobby.id %>/follow" role="button"><%= follow_unfollow(@hobby) %></button>

  <button id="followers_button" href="/hobbies/<%= @hobby.id %>/followers" data-reveal-id="followers-modal"><%= @hobby.users.count %>
  <% if @hobby.users.count == 1 %>
    Follower
  <% else %>
    Followers
  <% end %>
</button>
</div>

<div id="meetups">
  <% if @meetups && !@meetups.empty? %>
    <h4>Upcoming Meetup Events</h4>
    <% @meetups.each do |meetup| %>
      <p>
        <%= format_time(meetup['time']) %>
        <a href="<%= meetup['event_url'] %>"><%= meetup['name'] %></a>
      </p>
    <% end %>
  <% else %>
    <h4>No Local Meetups</h4>
    <p>
      <a href='https://secure.meetup.com/create/'>Start a Meetup</a>
    </p>
  <% end %>
</div>

<div id="questions">
  <h2>Questions</h2>
  <button class="add_question_button" data-reveal-id="new-question-modal">Ask a Question</button>
  <button id="popular_sort" class="<%= @hobby.id %>" href="/questions/sort/popular">Sort by Popular</button>
  <button id="recent_sort" class="<%= @hobby.id %>" href="/questions/sort/recent">Sort by Recent</button>
  <input type="text" id="search" class="<%= @hobby.id %>" placeholder="search questions">
  <ul id="question_list" class="accordion" data-accordion>
    <% @hobby.questions.each do |question| %>
      <%= render "questions/question", question: question %>
    <% end %>
  </ul>
</div>

<div id="new-question-modal" class="<%= @hobby.id %> reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Submit your question</h2>
  <p class="lead"><%= @hobby.name %></p>
  <%= form_for @question do |f| %>
    <%= f.hidden_field :hobby_id, value: @hobby.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :title, placeholder: 'Question Title' %>
    <%= text_area(:question, :body, cols: 20, rows: 5, placeholder: 'Question Body') %>
    <%= f.submit %>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="search-results">
  <iframe width="320" height="215" src="" allowfullscreen id="iframe"></iframe>'
</div>



<div id="followers-modal" class="<%= @hobby.id %> reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Followers</h2>
  <p class="lead"><%= @hobby.name %></p>
  <ul id="following_users">
    <%= render "hobbies/followers", followers: @hobby.users %>
  </ul>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>




