<button class="doNothing button secondary small">Go Back</button>
<div class="large-12 columns">

  <div class="hobby-imageDiv">
    <a href='./<%=@hobby.id%>'>
      <img class="hobby-bannerImg th backButton" src="<%=@hobby.image_url%>"/>
    </a>
  </div>
<!-- <div id="hobby_header"> -->
  <h1 id="hobby_title"><%= @hobby.name %></h1>

  <div class="buttonDiv">
    <button class="button follow small th" id="follow" href="/hobbies/<%= @hobby.id %>/follow" role="button"><%= follow_unfollow(@hobby) %></button>

    <button class="button followers small th" id="followers_button" href="/hobbies/<%= @hobby.id %>/followers"><%= @hobby.users.count %>
    <% if @hobby.users.count == 1 %>
      Follower
    <% else %>
      Followers
    <% end %>
    </button>
  </div>

  <div class="hobby-desDiv">
    <p><%= @hobby.description %></p>
  </div>

  <% if current_user.id == @hobby.creator_id %>
    <%= form_for @hobby do |f| %>
      <div class="field">
        <%= f.label 'Update Hobby Image' %><br/>
        <%= f.file_field :image_url %>
        <%= f.submit 'Update' %>
    <% end %>
  <% end %>

</div>

<hr>
<div class="row">
  <div class="medium-6 large-6 columns">
    <h3>On YouTube</h3>
    <div>
      <div id="search-results">
        <iframe width="400" height="225" src="" allowfullscreen id="iframe"></iframe>
      </div>
    </div>
  </div>

  <div class="medium-6 large-6 columns">
    <% if @meetups && !@meetups.empty? %>
      <h3>Upcoming Meetup Events</h3>
    <% @meetups.each do |meetup| %>
      <p>
        <%= format_time(meetup['time']) %>
        <a href="<%= meetup['event_url'] %>"><%= meetup['name'] %></a>
      </p>
    <% end %>
    <% else %>
    <h3> No Local Meetups </h3>
    <p class="center">
      <a href='https://secure.meetup.com/create/'>Start a Meetup</a>
    </p>
  </div>
  <% end %>
</div>

<hr>

<div class="questionsWrapper">
  <div id="questions th">
    <h2>Questions</h2>
    <div class='searchDiv'>
      <div class="searchField">
        <input type="text" id="search" class="<%= @hobby.id %> emboss" placeholder="search questions">
      </div>
      <div class='magGlass'>
        <i class="fi-magnifying-glass"></i>
      </div>
    </div>
    <div class="sortButtons">
      <button id="popular_sort" class="<%= @hobby.id %> tiny emboss button align" href="/questions/sort/popular">Sort by Popular</button>
      <button id="recent_sort" class="<%= @hobby.id %> tiny emboss button align" href="/questions/sort/recent">Sort by Recent</button>
    </div>
    <ul id="question_list" class="accordion" data-accordion>
      <% @hobby.questions.each do |question| %>
        <%= render "questions/question", question: question %>
      <% end %>
    </ul>
    <div class="center"><button class="button small emboss" id="add_question_button" data-reveal-id="new-question-modal">Ask a Question</button></div>
  </div>
</div>

<hr>

<div id="new-question-modal" class="<%= @hobby.id %> reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Submit your question</h2>
  <p class="lead"><%= @hobby.name %></p>
  <%= form_for @question do |f| %>
    <%= f.hidden_field :hobby_id, value: @hobby.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :title, placeholder: 'Question Title' %>
    <%= text_area(:question, :body, cols: 20, rows: 5, placeholder: 'Question Body') %>
    <div class="center"><%= f.submit 'Ask Question', :class => 'button' %></div>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="followers-modal" class="<%= @hobby.id %> reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Followers</h2>
  <p class="lead"><%= @hobby.name %></p>
  <ul id="following_users">
    <%= render "hobbies/followers", followers: @hobby.users %>
  </ul>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class='row'>
  <div class="col-md-4">

    <form id='enter_chat_room' role='form'>
      <input type="hidden" id="chat_room" value="<%= @hobby.name %>">
      <input type="hidden" id="user_name" value="<%= current_user.username %>">
      <button type="submit" class="btn btn-default small button">Enter Chat</button>
    </form>

    <form id='send_message' role='form'>
      <h1><%= @hobby.name %> Chat</h1>

      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" placeholder="Enter message">
      </div>

      <button type="submit" class="btn btn-default button">Submit</button>

    </form>

  </div>

  <div class="col-md-8">
    <dl class="dl-horizontal" id="chat_messages">
    </dl>
  </div>

</div>
</div>


