<button class="backButton button secondary small th" onclick="goBack()">Go Back</button>


<div class="row">
  <div class="large-12 columns" id="show_category">
    <div class="">
      <p></p>
      <a href='./<%=@category.id%>'>
        <img class="category-bannerImg th" src="<%=@category.image_url%>"/>
      </a>
  </div>
  <h1><%= @category.name %></h1>
<hr>
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">

      <% @hobbies.each do |hobby| %>
         <li>
            <a href="/hobbies/<%= hobby.id %>">
            <div class="emboss">
            <img class="th" src="<%= hobby.image_url %>">
             <div class="panel">
                <h5><%= hobby.name %></h5>
             </div>
            </div>
          </a>
        </li>
      <% end %>

      <li>
        <!-- <div class="panel" id="add-div"> -->
          <a href="#">
          <!-- <button class="add_button_button" data-reveal-id="new-hobby-modal">Create New Hobby</button> -->
          <img src="http://www.veryicon.com/icon/png/System/Icons8%20Metro%20Style/Very%20Basic%20Plus.png" class="add_hobby_button" id="plus-image">

        <!-- </div> -->

        </a>
      </li>
    </ul>
  </div>

</div>






<div id="new-hobby-modal" class="<%= @category.id %> reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Create your hobby</h2>
  <p class="lead"></p>
  <%= form_for @hobby do |f| %>

  <% if @hobby.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@hobby.errors.count, "error") %> prohibited this article from being saved:</h4>

      <ul>
      <% @hobby.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_area :description, placeholder: 'Description' %>
    <div class="field">
      <%= f.label :image %><br/>
      <%= f.file_field :image_url %>
    </div>

    <%= f.submit %>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
